.cta {
    background: #7700FF;
    border: none;
    color: white;

    text-transform: uppercase;
    border-radius: 4px;
    padding: 1em;
    cursor: pointer;
    font-family: 'sans-serif'
}

input.ng-dirty.ng-invalid {
    border: rgb(214, 72, 6);
    border-style: solid;
    border-width: medium;
}