<h1>Login</h1>
  <form [formGroup]="messageForm" (ngSubmit)="onSubmit()">

  <label>
    Email:
    <input type="email" formControlName="email">

    <div *ngIf="submitted && messageForm.controls.email.errors" class="error">
      <div *ngIf="messageForm.controls.email.errors.required">Email is required</div>
    <div *ngIf="messageForm.controls.email.errors.email">Input must be an email</div>

  </div>
  </label>
  <label>
    Password:
    <input type="password" formControlName="password">

    <div *ngIf="submitted && messageForm.controls.password.errors" class="error">
        <div *ngIf="messageForm.controls.password.errors.required">Password is required</div>
      </div>

  </label>

  <input type="submit" value="Login" class="cta">
  </form>
  <h5 *ngIf="problem"> {{result.message.email}}</h5>
  <h5 *ngIf="problem"> {{result.message.name}}</h5>
  <h5 *ngIf="problem"> {{result.message.password}}</h5>
  <h5 *ngIf="problem"> {{result.message.surname}}</h5>
  <h5 *ngIf="problem">{{result.message._id}}</h5>
  <h5 *ngIf="problem">{{result.token}}</h5>
  <h5 *ngIf="isproblem">{{result.message}}</h5>
  <br><br>
