<h1>Login</h1>
<div class="container-fluid">
 
  <div class="row">
  <form [formGroup]="messageForm" (ngSubmit)="onSubmit()">

        <label>
          Email:
          <input class="in" type="email" formControlName="email" required>
        </label>
        <label>
          Password:
          <input class="in" type="password" formControlName="password" required>
        </label>
    <input type="submit" value="Login" class="cta" style="margin:10px">
  </form>
  </div>
</div>
<!-- <h5 *ngIf="problem"> {{result.message.email}}</h5>
  <h5 *ngIf="problem"> {{result.message.name}}</h5>
  <h5 *ngIf="problem"> {{result.message.password}}</h5>
  <h5 *ngIf="problem"> {{result.message.surname}}</h5>
  <h5 *ngIf="problem">{{result.message._id}}</h5>
  <h5 *ngIf="problem">{{result.token}}</h5>
  <h5 *ngIf="isproblem">{{result.message}}</h5> -->
<br><br>