<div class="container-fluid">
  <div class="row">
    <h4 class="title">Search code, web services or apis</h4>
  </div><br>
  <form [formGroup]="messageForm">
    <div class="row">
      <div class="col-3"></div>
      <div class="col-6">
        <div style="margin-left: 50px">
          <button class="btn btn-info sConf" (click)="onClick('code')">code</button>
          <button class="btn btn-info sConf" (click)="onClick('web_apis')">web services / apis</button>
          <button class="btn btn-info sConf" (click)="onClick('everywere')">everywere</button>
        </div>
        <input type="email" formControlName="keyword" class="form-control" placeholder="search...">
      </div>
      <div class="col-3"></div>
    </div>


    <div class="row">
      <div *ngIf="code">
        <p>searching for code</p>
      </div>
      <div *ngIf="web_apis">
        <p>searching for web services and apis</p>
      </div>
      <div *ngIf="everywere">
        <p>searching everywere</p>
      </div>
    </div>
  </form>


</div>
