<h1>Register</h1>

<form [formGroup]="messageForm" (ngSubmit)="onSubmit()">

  <h5 *ngIf="success">Your form is valid</h5>

  <label>
    Name:
    <input type="text" formControlName="name">
    <div *ngIf="submitted && messageForm.controls.name.errors" class="error">
      <div *ngIf="messageForm.controls.name.errors.required">Your name is required</div>
    </div>
  </label>

  <label>
      Surname:
      <input type="text" formControlName="surname">
      <div *ngIf="submitted && messageForm.controls.surname.errors" class="error">
        <div *ngIf="messageForm.controls.surname.errors.required">Your surname is required</div>
      </div>
    </label>

    <label>
        Email:
        <input type="email" formControlName="email">
        <div *ngIf="submitted && messageForm.controls.email.errors" class="error">
            <div *ngIf="messageForm.controls.email.errors.required">Email is required</div>
          <div *ngIf="messageForm.controls.email.errors.email">Input must be an email</div>
        </div>
      </label>

    <label>
        Password:
        <input type="password" formControlName="password">
        <div *ngIf="submitted && messageForm.controls.password.errors" class="error">
          <div *ngIf="messageForm.controls.password.errors.required">Password is required</div>
        </div>
      </label>

  

    <input type="submit" value="Send message" class="cta">
</form>

<div *ngIf="submitted && response" class="results">
  <span>{{ response.message }}</span>
  <h4>Cridentials are: </h4>
  <p>Name: {{ response.createdUser.name }}</p>
  <p>Surname: {{ response.createdUser.surname }}</p>
  <p>Email: {{ response.createdUser.email }}</p>
  <p>Password: {{ response.createdUser.password }}</p>

</div>

<div *ngIf="submitted && errorResponse" class="results">
<span>{{ errorResponse.message }}</span>
</div>
